.scit-media{
    border-bottom: 1px solid #888;
}

.comment-form{
    margin-top: 30px;
}

.scit-user-image{
    max-width: 64px;
    max-height: 64px;
    width:64px;
}

.login-requerido{
    margin-top: 20px;
    margin-bottom: 30px;
    
}